<!DOCTYPE html>
<html>
{{ partial "head" . }}
<body>
	{{ partial "header" . }}
	<main>
		<h1 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
		<time class="post-date">{{ .Date.Format "Mon Jan 2, 2006" }}</time> 
		{{ if .Params.author }}
			by <a href="{{ .Site.BaseURL }}/authors/{{ .Params.author | urlize }}/">{{ .Params.author }}</a>
		{{ end }}
		<article>
			{{ .Content }}
		</article>
	</main>
	<aside class="meta">
		<ul id="tags">
			{{ range .Params.tags }}
				<li><a href="/tags/{{ . | urlize }}/">{{ . }}</a></li>
			{{ end }}
		</ul>
	</aside>
</body>
</html>